/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"

// tap windows for ctl alt and gui

#define HM_TAPPING_TERM 250
#define HM_TAPPING_REPEAT 210

// quick tapping for shift

#define HM_TAPPING_TERM_FAST 180
#define HM_PRIOR_IDLE 40
#define BASE 0
#define CANARY 1
#define NAV 2
#define NUM 3
#define SYM 4
#define WIN 5
#define GAME 6
#define DEBUG 7

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH1 LH0 RH0 RH1
#define KEYS_T LH1 LH0 RH0 RH1
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {

    behaviors {

        // Home Row Mods

        hm_lctrl: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;                // repeat on tap-into-hold
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
            hold-while-undecided;
        };

        hm_l: homerow_mods_gui_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;                // repeat on tap-into-hold
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_rctrl: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
            hold-while-undecided;
        };

        hm_r: homerow_mods_gui_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
        };

        // Positional Homerow mods for shift
        // Use faster tapping term and disable some features that may
        // cause false negatives.

        hm_shift_l: hm_shift_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
            hold-while-undecided;
        };

        hm_shift_r: hm_shift_r {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;

            // for quick tapping; shift+~

            hold-trigger-on-release;
            hold-while-undecided;
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
        };

        lt_nav: layer_tap_nav {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "hold-preferred";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
        };

        // Tap Dances

        td_lprn_lcbr: tap_dance_left_prn_cbr {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LPAR>, <&kp LBRC>;
        };

        td_rprn_rcbr: tap_dance_right_prn_cbr {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RPAR>, <&kp RBRC>;
        };

        td_comm_scln: tap_dance_comm_scln {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COMMA>, <&kp SEMICOLON>;
        };

        td_slsh_scln: tap_dance_slsh_scln {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SLASH>, <&kp SEMICOLON>;
        };

        td_scln_sqt: td_scln_sqt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SEMICOLON>, <&kp SQT>;

            label = "TD_SCLN_SQT";
        };

        smart_shift: smart_shift {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sk LSHFT>, <&caps_word>;
            mods = <(MOD_LSFT)>;
        };

        // Adaptive Keys

        shift_repeat: shift_repeat {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&sk LSHFT>;

            repeat {
                trigger-keys = <A B C D E F G H I J K L M N O Q R S T V W X Y Z>;
                bindings = <&key_repeat>;
                max-prior-idle-ms = <400>;
                strict-modifiers;
            };

            arrow {
                trigger-keys = <MINUS EQUAL>;
                bindings = <&kp GT>;
                max-prior-idle-ms = <400>;
            };

            u_i {
                trigger-keys = <U>;
                bindings = <&kp I>;
                max-prior-idle-ms = <400>;
            };

            p_t {
                trigger-keys = <P>;
                bindings = <&kp T>;
                max-prior-idle-ms = <400>;
            };
        };
    };

    // Do something when layers are entered and left

    // layer_listeners {
    //     compatible = "zmk,layer-listeners";

    //     nav_listener {
    //         layers = <NAV>;
    //         bindings = <&kp N &kp B>;
    //     };
    // };

    combos {
        compatible = "zmk,combos";

        combo_caps_lock {
            key-positions = <29 32>;
            bindings = <&kp CAPSLOCK>;
            layers = <BASE CANARY>;
        };

        combo_caps_word {
            key-positions = <42 45>;
            bindings = <&caps_word>;
            layers = <BASE CANARY GAME>;
        };

        combo_esc {
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            layers = <BASE CANARY GAME>;
        };

        combo_copy {
            key-positions = <26 27>;
            bindings = <&kp LC(C)>;
            layers = <BASE CANARY>;
        };

        combo_cut {
            key-positions = <26 28>;
            bindings = <&kp LC(X)>;
            layers = <BASE CANARY>;
        };

        combo_paste {
            key-positions = <27 28>;
            bindings = <&kp LC(V)>;
            layers = <BASE CANARY>;
        };

        combo_game {
            key-positions = <0 11>;
            bindings = <&tog GAME>;
            layers = <BASE CANARY GAME>;
        };

        combo_num {
            key-positions = <33 34 35>;
            bindings = <&tog NUM>;
            layers = <BASE CANARY NUM>;
        };

        combo_debug {
            bindings = <&mo DEBUG>;
            key-positions = <40 39>;
            layers = <BASE CANARY>;
        };

        combo_debug_r {
            bindings = <&mo DEBUG>;
            key-positions = <48 47>;
            layers = <BASE CANARY>;
        };

        combo_bspc {
            bindings = <&kp BSPC>;
            key-positions = <10 11>;
            layers = <BASE CANARY>;
        };

    };

    macros {

        bm_poc_path: bm_poc_path {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp H &kp O &kp M &kp E &kp N2 &kp FSLH &kp F &kp T &kp P &kp FSLH &kp W &kp E &kp E &kp K &kp L &kp Y &kp FSLH &kp W &kp T &kp I &kp L &kp L &kp E &kp T &kp T &kp FSLH>;
            label = "BM_POC_PATH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp GRAVE      &kp Q         &kp W    &kp E                     &kp R              &kp T                               &kp Y        &kp U              &kp I                      &kp O    &kp P                 &kp BSLH
&kp BACKSPACE  &kp A         &lt SYM S  &hm_shift_l LSHFT D  &lt NUM F            &kp G                               &kp H        &lt WIN J            &hm_shift_r RSHFT K  &lt SYM L  &hm_r RALT SEMI  &kp SQT
&td_lprn_lcbr  &hm_l LGUI Z  &kp X    &kp C                     &hm_lctrl LCTRL V  &kp B           &kp C_MUTE  &tog CANARY  &kp N        &hm_rctrl RCTRL M  &kp COMMA                  &kp DOT  &hm_r RGUI SLASH      &td_rprn_rcbr
&kp LALT       &none         &none    &lt_nav WIN BSPC            &hm_shift_l LSHFT TAB          &shift_repeat                      &lt WIN SPACE  &hm_shift_r RSHFT ENTER        &lt_nav NAV DELETE           &none    &none                 &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

        canary_layer {
            display-name = "Canary";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp GRAVE      &kp W         &kp L    &kp Y                     &kp P              &kp B                   &kp Z   &kp F              &kp O                      &kp U      &kp SQT            &kp BACKSLASH
&kp BACKSPACE  &kp C         &lt SYM R  &hm_shift_l LSHFT S  &lt NUM T            &kp G                   &kp M   &lt WIN N            &hm_shift_r RSHFT E  &lt SYM I    &hm_r RALT A  &kp SEMICOLON
&td_lprn_lcbr  &hm_l LGUI Q  &kp J    &kp V                     &hm_lctrl LCTRL D  &kp K   &kp C_MUTE  &tog CANARY  &kp X   &hm_rctrl RCTRL H  &kp SLASH                  &kp COMMA  &hm_r RGUI DOT     &td_rprn_rcbr
&kp LALT       &none         &none    &lt_nav WIN BSPC            &hm_shift_l LSHFT TAB          &shift_repeat                      &lt WIN SPACE  &hm_shift_r RSHFT ENTER        &lt_nav NAV DELETE           &none    &none                 &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Nav_layer {
            display-name = "Nav";

            // TODO: Some binds are waiting for shifted keycode support.
            // -------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&none  &kp F1  &kp F2        &kp F3      &kp F4     &kp F5                   &kp HOME  &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &none       &kp PRINTSCREEN
&none  &kp F6  &kp LALT  &kp LSHIFT  &kp LCTRL  &kp F7                   &kp END   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp INSERT  &none
&none  &kp F8  &kp F9        &kp F10     &kp F11    &kp F12  &kp C_MUTE  &trans  &none     &none           &none           &none            &none       &none
&none  &none   &none         &none       &trans     &trans                   &none     &trans          &none           &none            &none       &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Num_layer {
            display-name = "Num";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |       | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //                |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&trans  &kp N3  &kp N2  &kp N1  &none   &none                      &kp PLUS   &kp N7  &kp N8   &kp N9  &kp ASTRK  &kp BSPC
&trans  &kp N6  &kp N5  &kp N4  &none   &none                      &kp COMMA  &kp N4  &kp N5   &kp N6  &kp SLASH  &none
&trans  &kp N9  &kp N8  &kp N7  &none   &none      &kp C_MUTE  &trans  &kp MINUS  &kp N1  &kp N2   &kp N3  &kp SLASH  &kp ENTER
&bm_poc_path   &none   &none   &lt_nav WIN BSPC   &lt SYM TAB  &kp ENTER                  &kp TAB    &kp N0  &kp DOT  &none   &none      &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Symbol_layer {
            display-name = "Symbol";

            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | moDEBUG| RGB_HUD | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // | EXTPWR | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            bindings = <
&kp ESC  &kp GRAVE  &kp ASTRK  &kp LT    &kp GT     &kp UNDER                    &kp DOLLAR  &kp LBRC              &kp RBRC               &kp CARET  &none     &none
&none    &kp EXCL   &kp DQT    &kp FSLH  &kp MINUS  &kp PLUS                     &kp HASH    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL  &kp AMPS  &none
&none    &kp TILDE  &kp PLUS   &kp LBKT  &kp RBKT   &kp PERCENT  &kp C_MUTE  &trans  &kp AT      &kp FSLH              &kp PIPE               &kp BSLH   &none     &none
&none    &none      &none      &trans     &trans      &trans                        &trans       &trans                 &trans                  &none      &none     &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Mouse_layer {
            display-name = "Windows";
            bindings = <
&none  &none           &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &none                            &none           &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &none            &none
&none  &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT                  &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT  &kp RG(TAB)
&none  &none           &mkp MB2        &mkp MB3        &mkp MB1         &none            &kp C_MUTE  &trans  &none           &mkp MB1        &mkp MB3        &mkp MB2         &none            &none
&none  &none           &none           &mkp MB2        &mkp MB3         &mkp MB1                         &mkp MB1        &mkp MB3        &mkp MB2        &none            &none            &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            label = "Mouse";
        };

        Game_layer {
            display-name = "Game";
            bindings = <
&kp GRAVE  &kp Q  &kp W  &kp E     &kp R      &kp T                      &kp Y      &kp U      &kp I      &kp O    &kp P     &kp BSPC
&kp TAB    &kp A  &kp S  &kp D     &kp F      &kp G                      &kp H      &kp J      &kp K      &kp L    &kp SEMI  &kp APOS
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V      &kp B      &kp C_MUTE  &trans  &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp APOS
&none      &none  &none  &kp LALT  &kp LSHFT  &kp SPACE                  &kp SPACE  &kp ENTER  &kp RGUI   &none    &none     &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Debug_layer {
            display-name = "Debug";

            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | EXTPWR | BTCLR | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // |        | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            bindings = <
&none  &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3                          &none        &none  &none         &none  &none  &none
&none  &none  &none         &none         &none         &sys_reset                            &sys_reset   &none  &none         &none  &none  &none
&none  &none  &none         &none         &none         &bootloader   &bt BT_CLR_ALL  &trans  &bootloader  &none  &none         &none  &none  &none
&none  &none  &none         &bt BT_NXT    &none         &none                                 &none        &none  &out OUT_TOG  &none  &none  &none
            >;
        };
    };
};
